<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JTProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>login</servlet-name>
  	<servlet-class>login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>TeacherLogin</servlet-name>
  	<servlet-class>TeacherLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TeacherLogin</servlet-name>
  	<url-pattern>/TeacherLogin</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SignUp</servlet-name>
  	<servlet-class>SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SignUp</servlet-name>
  	<url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>TeacherSignUp</servlet-name>
  	<servlet-class>TeacherSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TeacherSignUp</servlet-name>
  	<url-pattern>/TeacherSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Details</servlet-name>
  	<servlet-class>Details</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Details</servlet-name>
  	<url-pattern>/Details</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AddStudentDetails</servlet-name>
  	<servlet-class>AddStudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddStudentDetails</servlet-name>
  	<url-pattern>/AddStudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>EditDetails</servlet-name>
  	<servlet-class>EditDetails</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditDetails</servlet-name>
  	<url-pattern>/EditDetails</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>TeacherEditDetail</servlet-name>
  	<servlet-class>TeacherEditDetail</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TeacherEditDetail</servlet-name>
  	<url-pattern>/TeacherEditDetail</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>FeeStatus</servlet-name>
  	<servlet-class>FeeStatus</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FeeStatus</servlet-name>
  	<url-pattern>/FeeStatus</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>FeeState</servlet-name>
  	<servlet-class>FeeState</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FeeState</servlet-name>
  	<url-pattern>/FeeState</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Attendance</servlet-name>
  	<servlet-class>Attendance</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Attendance</servlet-name>
  	<url-pattern>/Attendance</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Results</servlet-name>
  	<servlet-class>Results</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Results</servlet-name>
  	<url-pattern>/Results</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Homework</servlet-name>
  	<servlet-class>Homework</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Homework</servlet-name>
  	<url-pattern>/Homework</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AddHomework</servlet-name>
  	<servlet-class>AddHomework</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddHomework</servlet-name>
  	<url-pattern>/AddHomework</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SelectStudent</servlet-name>
  	<servlet-class>SelectStudent</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SelectStudent</servlet-name>
  	<url-pattern>/SelectStudent</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ShowStudent</servlet-name>
  	<servlet-class>ShowStudent</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShowStudent</servlet-name>
  	<url-pattern>/ShowStudent</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>EditStudentDetail</servlet-name>
  	<servlet-class>EditStudentDetail</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditStudentDetail</servlet-name>
  	<url-pattern>/EditStudentDetail</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SelectTeacher</servlet-name>
  	<servlet-class>SelectTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SelectTeacher</servlet-name>
  	<url-pattern>/SelectTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ShowTeacher</servlet-name>
  	<servlet-class>ShowTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShowTeacher</servlet-name>
  	<url-pattern>/ShowTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>EditTeacherDetail</servlet-name>
  	<servlet-class>EditTeacherDetail</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditTeacherDetail</servlet-name>
  	<url-pattern>/EditTeacherDetail</url-pattern>
  </servlet-mapping>
</web-app>